/*style body adding background image and set it to cover, add font family*/
body {
	font-family: Arvo, serif;
	background: url(https://freenaturestock.s3.amazonaws.com/232.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	
}
/*style brand images*/

/*styele navigation bar*/

/*style jumbotron*/

/*limit the width of the icon section*/

/*style* icons section using bootstrap grid system*/

/*style contact button*/

/*style footer*/

/*use media query change icon size in small device*/

/**/