/*style body adding background image and set it to cover, add font family*/
body {
	font-family: Arvo, serif;
	background: url(https://freenaturestock.s3.amazonaws.com/232.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;	
}
/*style brand images*/
.logo {
/*	position: left;*/
	height: 35px;
	width: 35px;
	
}

/*styele navigation bard*/
.navbar-inverse {
	background: rgba(0, 0, 0, 0.5)
}

.nav li {
	color: #fff;
	font-size: 17px;
	margin-right: 35px;
	padding: 10px 0;
}

.nav li:hover {
	border-bottom: 1px solid #00FFB8;
	padding-bottom: 9px;
	cursor: pointer;
}
/*style jumbotron*/

/*limit the width of the icon section*/

/*style* icons section using bootstrap grid system*/

/*style contact button*/

/*style footer*/

/*use media query change icon size in small device*/

/**/